body {
    background-color: #ebebeb;
}

body, h1, ul {
    margin: 0;
    padding: 0;
}

body > header, body > footer {
    padding: 20px 0px;

    background-color: rgb(54, 54, 54);
    
    color: #fff;
    text-align: center;
    font-family: 'courier new', 'courier', 'monospace';
}

nav {
    margin: 0 5%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-top: 1%;
    width: 45%;

    background-color: rgb(54, 54, 54);

    text-align: center;

    cursor: pointer;
}

nav ul li:nth-child(odd) {
    margin-right: 10%;
}

nav ul li a {
    display: block;
    width: 100%;
    height: 100%;

    color: #fff;

    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav ul li a:hover {
    color: rgb(219, 69, 83);
}

main {
    margin: 20px 5% 0;
}

main > article {
    background-color: #fff;
    border-radius: 30px;
    border: 4px solid #abaaaa;
    margin-bottom: 20px;
}

main > article > header > div {
    height: 200px;
    text-align: center;
}

main > article > header > div > img{
    max-width: 100%;
    max-height: 100%;
}


main > article > header > h2, main > article > header > p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    padding: 0 5%;
}

main > article > header > p {
    font: 12px;
}

main > article > section > p {
    font: 12px Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 5%;
}


main > article > footer {
    padding: 20px 5%;
    text-align: right;
}


main > article > footer > a {
    padding: 1% 5%;

    border-radius: 10px;
        
    color: #000;
    background-color: rgb(155, 153, 153);

    text-decoration: none;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main > article > footer > a:hover {
    padding: 0.8% 4%;
    color: rgb(219, 69, 83);

}

aside {
    margin: 0 5% 20px;
    background-color: #fff;
    border-radius: 30px;
    border: 4px solid #abaaaa;
}

aside > section {
    padding: 2% 5%;
}

aside > section > h2 {
    font: bold 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 26px ;

}

aside > section > ul {
    list-style: none;
}

aside > section > ul > li {
    margin-bottom: 2%;
}

aside > section > ul > li > a {
    text-decoration: none;
    color: #000;
}

aside > section > ul > li > img {
    width: 8%;
    float: left;
    margin-right: 2%;
}

main > section > h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

} 

main > section > table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

main > section {
    padding: 0 5% 20px;
    background-color: #fff;
    border-radius: 30px;
    border: 4px solid #abaaaa;
    margin-bottom: 20px;
}

main > form{
    padding: 0 5% 20px;
    background-color: #fff;
    border-radius: 30px;
    border: 4px solid #abaaaa;
    margin-bottom: 20px;
}

main > form > ul > li {
    list-style: none;
    text-decoration: none;
    
}




main > section > table td, main > section > table th{
    border: 1px solid black;
}



@media screen and (min-width: 768px) {
    nav {
        margin: 0 10%;
    }

    nav ul li {
        width: 19% ;
    }

    nav ul li:not(:last-child){
        margin-right: 8% ;
    }

    main, aside {
        display:  inline-block;
        vertical-align: top;
    }

    main {
        width: 50%;
        margin: 20px 5% 0 10%
    }

    aside {
        width: 25%;
        margin: 20px 5% 0 0;
        box-sizing: border-box;  /* non conta la grandezza del bordo */
        border-radius: 30px;
    }

    table {

    }

}
